trigger:
  branches:
    exclude:
    - master
  tags:
    include:
    - '*'
    exclude:
    - '*-test*'

stages:
- stage: test
  displayName: 'Build & Test'
  jobs:
  - job: macos
    strategy:
      matrix:
        macosSwift59:
          imageName: 'macOS-14'
          DEVELOPER_DIR: '/Applications/Xcode_15.2.app'
          IOS_SIMULATOR: 'iPhone 15'
          WATCHOS_SIMULATOR: 'Apple Watch Series 6 (44mm)'
        macosSwift510:
          imageName: 'macOS-14'
          DEVELOPER_DIR: '/Applications/Xcode_15.4.app'
          IOS_SIMULATOR: 'iPhone 15'
          WATCHOS_SIMULATOR: 'Apple Watch Series 6 (44mm)'
        macosSwift60:
          imageName: 'macOS-15'
          DEVELOPER_DIR: '/Applications/Xcode_16.2.app'
          IOS_SIMULATOR: 'iPhone 16'
          WATCHOS_SIMULATOR: 'Apple Watch Series 10 (42mm)'
        macosSwift61:
          imageName: 'macOS-15'
          DEVELOPER_DIR: '/Applications/Xcode_16.4.app'
          IOS_SIMULATOR: 'iPhone 16'
          WATCHOS_SIMULATOR: 'Apple Watch Series 10 (42mm)'
        macosSwift62:
          imageName: 'macOS-15'
          DEVELOPER_DIR: '/Applications/Xcode_26.2.app'
          IOS_SIMULATOR: 'iPhone 16'
          WATCHOS_SIMULATOR: 'Apple Watch Series 10 (42mm)'
    pool:
      vmImage: $(imageName)
    variables:
      GIT_LFS_SKIP_SMUDGE: 1
    steps:
    - script: |
        set -e -o xtrace
        git submodule update --init --recursive
        cp "Tests/Test Files/gitattributes-copy" "Tests/Test Files/.gitattributes"
      displayName: 'Update submodules'
    - script: |
        set -e -o xtrace
        cd "Tests/Test Files"
        git lfs ls-files -l | cut -d' ' -f1 | sort > ../../.assets-id
      displayName: 'Generate assets-id'
    - task: Cache@2
      inputs:
        key: '"swc_test_files_v3_" | .assets-id'
        path: '.git/modules/Tests/Test Files/lfs'
      displayName: 'Cache lfs of test files'
    - script: |
        set -e -o xtrace
        cd "Tests/Test Files"
        git lfs pull
        git lfs checkout
      displayName: 'Download or update test files'
    - script: ./utils.py download-bbd-macos
      displayName: 'Download BitByteData'
    - script: ./utils.py ci script-macos
      displayName: 'Build & Test'
    - script: swift build -c release
      displayName: 'Build SPM Release'
  - job: linux
    strategy:
      matrix:
        linuxSwift59:
          imageName: 'ubuntu-22.04'
          containerImage: 'swift:5.9.2-jammy'
        linuxSwift510:
          imageName: 'ubuntu-24.04'
          containerImage: 'swift:5.10.1-noble'
        linuxSwift60:
          imageName: 'ubuntu-24.04'
          containerImage: 'swift:6.0.3-noble'
        linuxSwift61:
          imageName: 'ubuntu-24.04'
          containerImage: 'swift:6.1.3-noble'
        linuxSwift62:
          imageName: 'ubuntu-24.04'
          containerImage: 'swift:6.2.3-noble'
    pool:
      vmImage: $(imageName)
    container: $[ variables['containerImage'] ]
    steps:
    - script: |
        set -e -o xtrace
        swift --version
        swift build
        swift build -c release # Check Release build just in case.
      displayName: 'Build SPM Debug & Release'
  - job: windows
    strategy:
      matrix:
        windowsSwift59:
          imageName: 'windows-2022'
          containerImage: 'swift:5.9.2-windowsservercore-ltsc2022'
        # windowsSwift510:
        #   imageName: 'windows-2022'
        #   containerImage: 'swift:5.10.1-windowsservercore-ltsc2022'
        windowsSwift60:
          imageName: 'windows-2022'
          containerImage: 'swift:6.0.3-windowsservercore-ltsc2022'
        windowsSwift61:
          imageName: 'windows-2022'
          containerImage: 'swift:6.1.3-windowsservercore-ltsc2022'
        windowsSwift62:
          imageName: 'windows-2022'
          containerImage: 'swift:6.2.3-windowsservercore-ltsc2022'
    pool:
      vmImage: $(imageName)
    container: $[ variables['containerImage'] ]
    steps:
    - script: |
        swift.exe --version
        swift.exe build
        swift.exe build -c release
      displayName: 'Build SPM Debug & Release'
- stage: deploy
  displayName: Deploy
  dependsOn: test
  # Deploy on tags only; test tags are excluded in trigger section.
  condition: and(not(eq(variables['Build.Reason'], 'PullRequest')), startsWith(variables['Build.SourceBranch'], 'refs/tags'))
  jobs:
  - job: ghPages
    displayName: 'Publish API docs to GH Pages'
    pool:
      vmImage: 'macOS-14'
    variables:
      DEVELOPER_DIR: '/Applications/Xcode_15.2.app'
    steps:
    - script: |
        set -e -o xtrace
        brew update
        brew install sourcekitten
        gem install -N jazzy
      displayName: 'Install Tools'
    - task: InstallSSHKey@0
      inputs:
        knownHostsEntry: 'github.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj7ndNxQowgcQnjshcLrqPEiiphnt+VTTvDP6mHBL9j1aNUkY4Ue1gvwnGLVlOhGeYrnZaMgRK6+PKCUXaDbC7qtbW8gIkhL7aGCsOr/C56SJMy/BCZfxd1nWzAOxSDPgVsmerOBYfNqltV9/hWCqBywINIR+5dIg6JTJ72pcEpEjcYgXkE2YEFXV1JHnsKgbLWNlhScqb2UmyRkQyytRLtL+38TGxkxCflmO+5Z8CSSNY7GidjMIZ7Q4zMjA2n1nGrlTDkzwDCsw+wqFPGQA179cnfGWOWRVruj16z6XyvxvjJwbz0wQZ75XK5tKSb7FNyeIEs4TT4jk+S4dhPeAUC5y+bDYirYgM4GC7uEnztnZyaVWQ7B381AK4Qdrwt51ZqExKbQpTUNn+EjqoTwvqNj4kqx5QUCI0ThS/YkOxJCXmPUWZbhjpCg56i+2aB6CmK2JGhn57K5mj0MNdBXA4/WnwH6XoPWJzK5Nyu2zB3nAZp+S5hpQs+p1vN1/wsjk='
        sshPublicKey: '$(swcPubDeployKey)'
        sshKeySecureFile: 'swc_deploy_key'
      displayName: 'Install an SSH key'
    - script: git worktree add docs gh-pages
      displayName: 'Prepare Worktree'
    - script: ./utils.py ci before-deploy
      displayName: 'Before Deploy'
    - script: |
        set -e -o xtrace
        git config --local user.name "Azure Pipelines"
        git config --local user.email "azuredevops@microsoft.com"
        cd docs
        git add --all
        git commit -m "Deploy to GH Pages [skip ci]" --amend
        cd ..
        git remote set-url --push origin git@github.com:tsolomko/SWCompression.git
        git push --force origin gh-pages:gh-pages
      displayName: 'Deploy to GH Pages'
